.page-builder{
    background: #333333;
    margin: 5px 0px;
    flex:1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.page-builder .header{
    background: rgba(9, 83, 157, 0.85);
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-builder .components{
    width: 200px;
    margin:3px;
    background: #424242;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page-builder .properties{
    width: 200px;
    margin:3px;
    background: #424242;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page-builder .properties-wrapper{
    width:100%;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap:0px;
    align-content: flex-start;
    padding: 10px 10px;
    box-sizing: border-box;

}

.page-builder .properties-wrapper > *{
    width:100%;
    margin: 1px 0px;

}
.page-builder .properties-wrapper .page{
    width:100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #727272;
    justify-content: center;
    padding: 3px;
    align-content: center;
}
.page-builder .properties-wrapper .page .label{
    flex:1;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.page-builder .properties-wrapper .page.selected .label {
    text-decoration: underline;
}

.page-builder .canvas{
    flex:1;
    margin: 3px 3px 3px 0px;
    background: #424242;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page-builder .widgets{
    width:100%;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    gap:0px;
    align-content: flex-start;
    justify-content: center;
    padding: 10px 0px;
}
.page-builder .canvas-preview{
    flex:1;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    overflow-x:hidden;
}
.page-builder.preview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    box-sizing: border-box;
}

.page-builder .canvas-area-wrapper{
    width:100%;
    flex:1;
    display: flex;
    flex-direction: column;
}

.page-builder .canvas-area-toolbar{
    padding:3px;
    display: flex;
    gap:3px
}

.page-builder .canvas-area{
    width:100%;
    flex:1;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/4QAiRXhpZgAATU0AKgAAAAgAAQESAAMAAAABAAEAAAAAAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAKAAoDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD8upbtry6aSSRpJJG3MzNuZiTkknuTUtZ9t/rF/wB4VoUAf//Z");
}

.page-builder .canvas-item-wrapper{
    width:100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
}


.page-builder .disabled .canvas-item{
    width:100px;
    height: 100px;
    overflow: auto;
    position: absolute;
    top:0px;
    left:0px;
    border: 0px dashed gray;
    box-sizing: border-box;
    overflow: hidden;
}
.page-builder .canvas-item  div,
.page-builder .canvas-item  p,
.page-builder .canvas-item  h1,
.page-builder .canvas-item  h2,
.page-builder .canvas-item  h3{
    padding:0px !important;
    margin: 0px !important;
    margin-block-end: 0px !important;
    margin-block-start: 0px !important;
}
.page-builder .canvas-item{
    width:100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
    border: 1px dashed gray;
    box-sizing: border-box;
    color:black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    font-size: 12px;
}


.page-builder .widget{
    width:80px;
    height: 80px;
    margin: 2px;
    border: 2px solid #989797;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
    padding:5px;
    font-size: 10px;
    cursor: pointer;
}
.page-builder .widget.active{
    border: 2px solid rgba(6, 91, 175, 0.85);
}

.page-builder .widget p{
    color: white;
    font-size: 10px;
    text-align: center;
}