body,html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
#root{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #333333;
}
